<div class="feed-table">

  <%= search_form_for @q do |g| %>
    <label for="">Search Posts</label>
    <%= g.text_field :title_or_content_or_city_or_article_type_cont %>
    <%= g.submit "Search", :class => 'waves-effect waves-light btn' %>
    <%= link_to "New Article", new_article_path, :class => 'waves-effect waves-light btn'%>
  <% end %>


  <div class="sort-links">
    Sort by:
    <%= sort_link(@q, :title) %>
    <%= sort_link(@q, :content) %> /
    <%= sort_link(@q, :city) %> /
    <%= sort_link(@q, :article_type) %> /
    <%= sort_link(@q, :created_at) %>
  </div>

  <% @search.each do |s| %>
    <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <div class="chip chip_left">
              <img src="http://www.eilatgordinlevitan.com/kurenets/k_pix/kunstler/060508_30_b.gif" alt="Contact Person">
              <%= s.article_type %>
            </div>
            <h5 class="header"><%= s.title %> </h5>
            Posted by: <%= s.user.first_name %> <%= s.user.last_name %><br>
            City: <%= s.city %><br>
            Posted at: <%= s.created_at.strftime("%b %e, %l:%M %p") %><br>

            <p> <%= s.content %> </p>
          </div>
          <div class="card-action">
            <%= link_to "See full post", show_article_path(s) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
