<div class="feed-table">

  <%= search_form_for @q do |g| %>
    <%= g.text_field :title_or_content_or_city_or_article_type_cont, :placeholder=>"Search Posts" %>
    <%= g.submit "Search", :class => 'waves-effect waves-red waves-ripple btn' %>
    <%= link_to "New Article", new_article_path, :class => 'waves-effect waves-red waves-ripple btn'%>
  <% end %>


  <div class="sort-links">
    Sort by:
    <%= sort_link(@q, :title) %> /
    <%= sort_link(@q, :city) %> /
    <%= sort_link(@q, :article_type) %> /
    <%= sort_link(@q, :created_at, "Date & Time Posted") %>
  </div>

  <% @search.each do |s| %>
    <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <div class="chip chip_left">
              <img src="http://i.imgur.com/qg94P70.png" alt="Contact Person">
              <%= s.article_type %>
            </div>
            <strong>City:</strong> <%= s.city %><br />
            <span class="right-align">Posted by <%= s.user.first_name %> <%= s.user.last_name %> on: <%= s.created_at.strftime("%b %e, %l:%M %p") %></span>
            <h5 class="header"><%= s.title %> </h5>


            <p> <%= s.content %> </p>
          </div>
          <div class="card-action link">
            <%= link_to "See full post", show_article_path(s), :class => "link" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
