<div class="col s12 feed-table" id="scroll-articles">
  <div class="row">
    <%= link_to "New Article", new_article_path, :class => 'offset-s3 col s6 waves-effect waves-red waves-ripple btn'%>
  </div>
  <%= search_form_for @q do |g| %>
    <%= g.text_field :title_or_content_or_city_or_article_type_cont, :placeholder=>"Search Posts" %>
    <div class="row">
      <div class="col s6">
        <%= g.collection_select :article_type_cont, Article::TYPE, :to_s, :to_s, :include_blank => false, :prompt => "Filter by Article Type" %><br />
      </div>
      <div class="col s6">
        <%= g.collection_select :city_cont, Article::CITY, :to_s, :to_s, :include_blank => false, :prompt => "Filter by City" %><br />
      </div>
      <%= g.submit "Search", :class => 'offset-s4 col s4 waves-effect waves-red waves-ripple btn' %>
    </div>
  <% end %>
  <div class="row">
    <div class="left-sort-links">
      Sort by:
      <%= sort_link(@q, :title) %> /
      <%= sort_link(@q, :created_at, "Date & Time Posted") %>
    </div>
  </div>
  <% @search.each do |s| %>
    <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <div class="chip chip_left">
              <img src="http://i.imgur.com/qg94P70.png" alt="Contact Person">
              <%= s.article_type %>
            </div>
            <strong>City:</strong> <%= s.city %><br />
            <span class="right-align">
              <strong><%= link_to "#{s.user.user_name}", "/users/#{s.user_id}" %></strong>
              <small>posted on <%= s.created_at.strftime("%b %e, %l:%M %p") %></small></span>
            <h5 class="header"><%= s.title %></h5>
            <p> <%= s.content %> </p>
            </div>
          <div class="card-action link">
            <%= link_to "See full post", show_article_path(s), :class => "link" %>
          </div>
          <span class="card-action" id="delete_edit">
          <%= link_to article_comments_path(s) do %>
            <span class="comment">Comment <i class="small material-icons">chat</i></span>
          <% end %>
          </span>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header link">SEE ALL COMMENTS
                <span class="chip"><%= s.comments.count %></span>
              </div>
              <div class="collapsible-body">
                <table class="striped">
                  <tbody>
                    <% s.comments.each do |f| %>
                      <tr>
                        <td>
                          <strong><%= link_to "#{f.user.user_name}", "/users/#{f.user_id}" %></strong>
                          <small> commented on <%= f.created_at.strftime("%b %e, %l:%M %p") %></small>
                          <br />
                          <%= f.content %>
                          <% if current_user != nil && current_user.id == f.user_id %>
                            <span class="edit-delete-article">
                              <%= link_to edit_comment_path(s, f.id), method: :get, :class=>'waves-effect waves-red waves-ripple btn' do %>
                              <i class="small material-icons">edit</i>
                              <% end %>
                              <%= link_to delete_comment_path(s, f.id), method: :delete, :class=>'waves-effect waves-red waves-ripple btn' do %>
                              <i class="small material-icons">delete</i>
                              <% end %>
                            </span>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
             </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div id="infinite-scrolling">
    <%= will_paginate @articles, :class => "digg_pagination"%>
  </div>
</div>
