<div class="row">
<div class="col s12 m4 l3">
<br />
  <div class="row">
    <img src="<%= @user.image_url%>" class="product_img img-responsive img-circle profile-pic">
  </div>
  <br>
  <div class="row">
    <h4> <%= @user.user_name %></h4>
    <p> <%= @user.first_name  %> <%= @user.last_name  %></p>
    <p>Date Joined: <%= @user.created_at.localtime.strftime("%B #{@user.created_at.day.ordinalize}, %Y") %> </p>
    <p> City: <%=  @user.city %> </p>
    <p> Course taken: <%=  @user.course_taken %> </p>
    <br>
    <div>
      <% if current_user != nil && current_user.id == @user.id %>
        <%= button_to "Edit Profile", edit_user_path(@user), method: :get, :class=>'waves-effect waves-red waves-ripple btn' %>
      <% end %>
    </div>
  </div>
</div>
<br />


<div class="col s12 m8 l9">
   <div class="center-align">
<%= link_to "New Article", new_article_path, :class => 'waves-effect waves-red waves-ripple btn' %>
</div>

  <% if @user.articles.count == 0 %>
  <div class="center-align">
   <h4><%= "Welcome, #{current_user.first_name}!" %></h4>
   <p>You don't have any articles yet. To start press New Article button.</p>
</div>

<% else %>
<% @articles.each do |article| %>
<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
      <div class="chip chip_left">
        <img src="http://i.imgur.com/qg94P70.png" alt="Contact Person">
        <%= article.article_type %>
        </div>
        <strong>City:</strong> <%= article.city %><br />
        <span class="right-align">
          <strong><%= article.user.user_name %></strong>
          <small>posted on <%= article.created_at.strftime("%b %e, %l:%M %p") %></small></span>
        <h5 class="header"><%= article.title %> </h5>
        <p> <%= article.content %> </p>
        </div>
    <span class="card-action" id="delete_edit">
      <%= link_to post_comment_path(article.id) do %>
        <span class="message">Message <i class="small material-icons">forum</i></span>
      <%= link_to article_comments_path(article.id) do %>
        <span class="comment">Comment <i class="small material-icons">chat</i></span>

        <% end %>
        <% if auth_through_user %>
          <span class="edit-delete-article">
            <%= link_to "Edit Article", edit_article_path(@article), method: :get, :class=>'waves-effect waves-red waves-ripple btn' %>
            <%= link_to "Delete Article", "/articles/#{article.id}", method: :delete, :class=>'waves-effect waves-red waves-ripple btn' %>
          </span>
        <% end %>
     <% end %>
   </span>


    <table class="striped">
      <tbody>
        <% article.comments.each do |f| %>
        <tr>
          <td>
            <strong><%= f.user.user_name %></strong>
            <small> commented on <%= f.created_at.strftime("%b %e, %l:%M %p") %></small>
            <br />
          <%= f.content %>
              <% if current_user != nil && current_user.id == @article.user.id %>
                    <span class="edit-delete">  <% if current_user && current_user[:id] == f.user_id %>
                  <%= link_to edit_comment_path(article, f.id), method: :get, :class=>'waves-effect waves-red waves-ripple btn' do %>
                  <i class="small material-icons">edit</i>
                  <% end %>
                  <%= link_to delete_comment_path(article, f.id), method: :delete, :class=>'waves-effect waves-red waves-ripple btn' do %>
                  <i class="small material-icons">delete</i>
                <% end %>
                <% end %>
              <% end %>
              </span>





            </td>
          </tr>
      <% end %>
    </tbody>
  </table>

</div>
</div>

    <% end %>

<% end %>
<% if @articles_count >= 15 %>
  <%= will_paginate @articles, :class => "digg_pagination"%>
<% end %>
</div>
