<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="col-xs-3">
      <div class="row">
        <img src="<%= @user.image_url%>">
      </div>
    <br>
    <div class="row">
      <h2><%=  @user.user_name %> </h2>
      <h4>Course: <%=  @user.course_taken %> </h4>
      <h4>City: <%=  @user.city %> </h4>
      <h4>Date Joined: <%= @user.created_at.localtime.strftime("%B #{@user.created_at.day.ordinalize}, %Y") %> </h4>
    </div>
  </div>
</div>
