<div class="row">
<!-- <div class="col s12 m4 l3"> -->

<ul id="slide-out" class="side-nav">
   <li><div class="userView">
     <img class="background" src="https://ga-shop-production-herokuapp-com.global.ssl.fastly.net/assets/images/atlanta_1frpI.jpg">
     <div class="row">
       <img src="<%= @user.image_url%>" class="product_img img-responsive img-circle profile-pic">
     </div>
     <h4> <%= @user.user_name %></h4>
     <%= @user.first_name  %> <%= @user.last_name  %><br>
     City: <%=  @user.city %><br>
     Course taken: <%=  @user.course_taken %>
     <p>Date Joined: <%= @user.created_at.localtime.strftime("%B #{@user.created_at.day.ordinalize}, %Y") %> </p>
     <% if current_user != nil && current_user.id == @user.id %>
      <li><%= button_to "Edit Profile", edit_user_path(@user), method: :get, :class=>' btn-indent waves-effect waves-red waves-ripple btn' %></li>
     <% end %>
   </div>
 </li>
 </ul>

<div class="feed-table">
  <div class="center-align">
    <% if current_user != nil && current_user.id == @user.id %>
      <%= button_to "Edit Profile", edit_user_path(@user), method: :get, :class=>'waves-effect waves-red waves-ripple btn' %>
    <% end %>
  </div>
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">

        <div class="row">
          <img src="<%= @user.image_url%>" class="product_img img-responsive img-circle profile-pic">
        </div>
        <h4><%= @user.user_name %></h4>
        <%= @user.first_name  %> <%= @user.last_name  %><br>
        City: <%=  @user.city %><br>
        Course taken: <%=  @user.course_taken %>
        <p>Date Joined: <%= @user.created_at.localtime.strftime("%B #{@user.created_at.day.ordinalize}, %Y") %> </p>

      </div>
    </div>
  </div>

<div class="user-posts">
  <div class="center-align">
    <%= link_to "New Article", new_article_path, :class => 'waves-effect waves-red waves-ripple btn' %>
  </div>

  <% if @user.articles.count == 0 %>
    <div class="center-align">
       <h4><%= "Welcome, #{current_user.first_name}!" %></h4>
       <p>You don't have any articles yet. To start press New Article button.</p>
    </div>
  <% else %>
  <% @articles.each do |article| %>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <div class="chip chip_left">
            <img src="http://i.imgur.com/qg94P70.png" alt="Contact Person">
            <%= article.article_type %>
            </div>
            <strong>City:</strong> <%= article.city %><br />
            <span class="right-align">
              <strong><%= article.user.user_name %></strong>
              <small>posted on <%= article.created_at.strftime("%b %e, %l:%M %p") %></small></span>
            <h5 class="header"><%= article.title %> </h5>
            <p> <%= article.content %> </p>
            </div>

         <span class="card-action" id="delete_edit">
          <%= link_to "See full post", show_article_path(article), :class => "link" %>
          <% if auth_through_user %>
            <span class="edit-delete-article">
              <%= link_to "Edit Article", edit_article_path(@article), method: :get, :class=>'waves-effect waves-red waves-ripple btn' %>
              <%= link_to "Delete Article", "/articles/#{article.id}", method: :delete, :class=>'waves-effect waves-red waves-ripple btn' %>
            </span>
          <% end %>
         </span>

      </div>
    </div>

    <% end %>

<% end %>
<% if @articles_count >= 15 %>
  <%= will_paginate @articles, :class => "digg_pagination"%>
<% end %>
</div>
</div>
