<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="col-xs-3">
      <div class="row">
        <img class="profile-pic" src="<%= @user.image_url%>">
      </div>
    <br>
    <div class="row">
      <h3><%=  @user.user_name %> </h3>
      <h5>Course: <%=  @user.course_taken %> </h5>
      <h5>City: <%=  @user.city %> </h5>
      <h5>Joined: <%= @user.created_at.localtime.strftime("%B #{@user.created_at.day.ordinalize}, %Y") %> </h5>
    </div>
  </div>
</div>
