<!DOCTYPE html>
<html>
  <head>
    <title>GeneralAssemblage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <div class="nav-wrapper blue-grey lighten-3">
      <img class="nav-logo" src="http://i.imgur.com/qg94P70.png">
      <a href="/" class="brand-logo">General Assemblage</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         
          <li><%= link_to 'Login', '/login' %></li><li> <%= link_to 'Signup', '/signup' %>

        </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
