<!DOCTYPE html>
<html>
  <head>
    <title>GeneralAssemblage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <div class="nav-wrapper blue-grey lighten-3">
      <img class="nav-logo" src="http://i.imgur.com/qg94P70.png">
      <a href="/" class="brand-logo">General Assemblage</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
          <li><span><%= link_to "Welcome, #{current_user.first_name}!", current_user %></span></li>
          <li><%= link_to "Feed", articles_path %></li>
          <li><%= link_to "Logout", "/logout" %></li>
        <% else %>
          <li><%= link_to 'Login', new_session_path %></li>
          <li><%= link_to 'Signup', new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
