<!DOCTYPE html>
<html>
  <head>
    <title>General Assemblage</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="http://i.imgur.com/GmT0px5.png">
  </head>
  <body>
    <nav>
     <div class="nav-wrapper black lighten-3">
       <a href="/"><img class="nav-logo logo" src="http://i.imgur.com/eklSEi5.png"/></a>
       <a href="#" data-activates="mobile-demo" class="button-collapse hamburger"><i class="material-icons">menu</i></a>
       <ul class="right hide-on-med-and-down">
         <% if current_user %>
           <li><span><%= link_to "Profile", current_user, :class => 'nav-hover' %></span></li>
           <li><%= link_to "Feed", articles_path, :class => 'nav-hover' %></li>
           <li><%= link_to "Logout", "/logout", :class => 'nav-hover' %></li>
         <% else %>
           <li><%= link_to 'Login', login_path, :class => 'nav-hover' %></li>
           <li><%= link_to 'Signup', new_user_path, :class => 'nav-hover' %></li>
         <% end %>
       </ul>
       <ul class="side-nav" id="mobile-demo">
         <% if current_user %>
           <li><span><%= link_to "Profile", current_user, :class => 'nav-hover' %></span></li>
           <li><%= link_to "Feed", articles_path %></li>
           <li><%= link_to "Logout", "/logout" %></li>
         <% else %>
           <li><%= link_to 'Login', login_path %></li>
           <li><%= link_to 'Signup', new_user_path %></li>
         <% end %>
       </ul>
     </div>
    </nav>
   <%= yield %>
   <% if notice %>
     <% if flash[:bruh] %>
       <script type="text/javascript">
         Materialize.toast('<%= notice %>', 6000, 'bruh')
       </script>
    <% else %>
       <script type="text/javascript">
         Materialize.toast('<%= notice %>', 6000)
       </script>
   <% end %>
  <% end %>
  </body>
</html>
